# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Clinical Prescription Tracker API
# owned by NHS Digital (https://digital.nhs.uk/)

openapi: 3.0.3
info:
  title: Clinical Prescription Tracker API
  version: "0.0.1"
  contact:
    name: Clinical Prescription Tracker API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview
    Use this API for real-time tracking of Electronic Prescription Service (EPS) prescriptions. It gives details about prescription status, dispensing progress and other essential prescription information. 

    ## Who can use this API
    This API is only available to be used by the Prescription Tracker at the moment, which is being tested with pharmacies from September 2025.

    The Prescription Tracker API will be made available more widely in the future.

    ## Access modes
    This API only supports [user-restricted access](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis), meaning we authenticate the end user.

    This API is for Healthcare worker access only and follows the [CIS2 separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-separate-authentication-and-authorisation).

    ## API Status and Roadmap
    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning the API will soon be available for testing via a sandbox service or an integration environment - but we expect to make breaking changes based on developer feedback.

    ## Service level
    This API is a Silver Plus service, meaning it is operational and supported 24 hours a day, 365 days a year.

    See [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels) for more details.

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/).

    It includes some country-specific FHIR extensions, which are built against FHIR UK Core, specifically [UK Core R4 (v4.0.1)](https://simplifier.net/HL7FHIRUKCoreR4/).

    You do not need to know much about FHIR to use this API. The API only supports POST requests containing FHIR messages.

    FHIR APIs are just RESTful APIs that follow specific rules.
    These rules mean:
    * resource names are capitalised and singular, for example `/Bundle` not `/bundle`
    * array names are singular, for example `line` not `lines` for address lines
    * data items that are country specific and not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and software development kits](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) available to help with FHIR API integration.

    ## Network Access
    This API is available on the internet. For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not.
    They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server

    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.

    ## Open Source
    You might find the following [open source](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#open-source) resources useful:

    | Resource                          | Description                                                                                                  | Links                                                                                                                                                     |
    |-----------------------------------|--------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
    | FHIR libraries and SDKs           | Various open source libraries for integrating with FHIR APIs.                                                | [FHIR libraries and SDKs](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks)              |
    | Prescription Tracker API | Source code for the Prescription Tracker API.                                                       | [GitHub](https://github.com/NHSDigital/electronic-prescription-service-clinical-prescription-tracker)                                                     |

    ## Environment and testing
    | Environment      | Base URL                                                               |
    |------------------|------------------------------------------------------------------------|
    | Sandbox          | `https://sandbox.api.service.nhs.uk/clinical-prescription-tracker`     |
    | Integration test | `https://int.api.service.nhs.uk/clinical-prescription-tracker`         |
    | Production       | `https://api.service.nhs.uk/clinical-prescription-tracker`             |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):

    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so it does not actually persist any updates
    * is open access, so does not allow you to test authorisation

    For details of sandbox testing, or to try out the sandbox using our "Try this API" feature, see the documentation for each endpoint.

    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):

    * is for formal integration testing
    * is stateful, so persists updates
    * includes authorisation, with [smartcard](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/nhs-smartcards-for-developers) and non-smartcard options

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Onboarding
    This page will be updated with onboarding information when this API is available to be used externally.

    ## Related APIs
    * [Electronic Prescriptions Service](https://digital.nhs.uk/developer/api-catalogue/electronic-prescription-service-fhir): the national service for creating and dispensing prescriptions across health and social care.
    * [Prescriptions for Patients](https://digital.nhs.uk/developer/api-catalogue/prescriptions-for-patients): the national service to retrieve prescriptions data for individual patients from the Electronic Prescription Service (EPS), for use in patient-facing applications.

x-spec-publication:
  operation-order:
    - operations:
        - method: GET
          path: /RequestGroup

servers:
  - url: "https://sandbox.api.service.nhs.uk/clinical-prescription-tracker"
    description: Sandbox
  - url: "https://int.api.service.nhs.uk/clinical-prescription-tracker"
    description: Integration
  - url: "https://api.service.nhs.uk/clinical-prescription-tracker"
    description: Production

paths:
  /RequestGroup:
    get:
      operationId: clinical-prescription-tracker-bundle
      summary: Prescription search
      description: |
        ## Overview
        This returns a list of prescriptions for a given prescriptionId or nhsNumber.

        It is possible that no results are returned when no prescriptions can be found that match the provided identifier.

        prescriptionId or nhsNumber should be provided, not both.
      parameters:
        - in: query
          name: prescriptionId
          schema:
            type: string
          description: The Prescription ID to search prescriptions for. Please ensure to
            url encode this value, as + is a valid prescription ID checksum
            character but is a reserved character in query parameters, otherwise
            it will be interpreted as a space and will result in an invalid
            checksum error.
        - in: query
          name: nhsNumber
          schema:
            type: string
          description: The NHS Number to search prescriptions for.
        - $ref: "#/components/parameters/BearerAuthorization"
        - $ref: "#/components/parameters/RoleId"
        - $ref: "#/components/parameters/OrganizationId"
        - $ref: "#/components/parameters/JobRoleCode"
        - $ref: "#/components/parameters/RequestID"
        - $ref: "#/components/parameters/CorrelationID"
      responses:
        "200":
          description: Successful search.
          content:
            application/fhir+json:
              schema:
                $ref: schemas/resources/prescriptionSearchBundle.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code          | Description                                                                                                                               |
            | ----------- | ------------------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
            | 400         | `value`             | The server was unable to process the request.                                                                                             |
            | 404         | `not-found`         | The server was unable to find the specified resource.                                                                                     |
            | 408         | `timeout`           | The server has timed out whilst processing the request.                                                                                   |

            Any errors will be included in the returned OperationOutcome (below).
          content:
            application/fhir+json:
              schema:
                $ref: schemas/resources/operationOutcome.json
        "5XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code          | Description                                                                                                                               |
            | ----------- | ------------------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
            | 500         | `exception`         | The Server has encountered an error processing the request.                                                                               |

            Any errors will be included in the returned OperationOutcome (below).
          content:
            application/fhir+json:
              schema:
                $ref: schemas/resources/operationOutcome.json
      security:
        - nhs-cis2-aal3: []
  /RequestGroup/{prescriptionId}:
    get:
      operationId: prescription-details-bundle
      summary: Retrieve prescription details
      description: |
        ## Overview
        Use this endpoint to return the details of a prescription for a given prescriptionId.
      parameters:
        - name: prescriptionId
          in: path
          required: true
          description: The EPS Prescription ID.
          schema:
            type: string
        - name: issueNumber
          in: query
          schema:
            type: string
          description: The issue number of the prescription for eRDs
      responses:
        "200":
          description: Successful retrieval.
          content:
            application/fhir+json:
              schema:
                $ref: schemas/resources/clinicalViewBundle.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code          | Description                                                                                               |
            | ----------- | ------------------- | ----------------------------------------------------------------------------------------------------------|
            | 400         | `value`             | Missing values or invalid JSON in request.                                                                |
            | 401         | `processing`        | Missing or invalid OAuth 2.0 bearer token in request.                                                     |
            | 404         | `not-found`         | Prescription not found.                                                                                   |
            | 408         | `timeout`           | Request timed out.                                                                                        |

            The error code will be included in the returned OperationOutcome (below).
          content:
            application/fhir+json:
              schema:
                $ref: schemas/resources/operationOutcome.json
        "5XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code          | Description                                                                                                                               |
            | ----------- | ------------------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
            | 500         | `exception`         | The Server has encountered an error processing the request.                                                                               |

            Any errors will be included in the returned OperationOutcome (below).
          content:
            application/fhir+json:
              schema:
                $ref: schemas/resources/operationOutcome.json
      security:
        - nhs-cis2-aal3: []

components:
  securitySchemes:
    nhs-cis2-aal3:
      $ref: https://proxygen.prod.api.platform.nhs.uk/components/securitySchemes/nhs-cis2-aal3
  parameters:
    BearerAuthorization:
      in: header
      name: Authorization
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis).
      required: true
      schema:
        type: string
        format: ^Bearer\ [[:ascii:]]+$
        example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
    RoleId:
      in: header
      name: nhsd-session-urid
      description: |
        The user role ID (URID) for the current session. Also known as a user role profile ID (URPID).

        This field is optional.
      required: true
      schema:
        type: string
        pattern: "^[0-9]+$"
        example: "555254240100"
    OrganizationId:
      in: header
      name: nhsd-organization-uuid
      description: |
        The users organization ID (UOID) for the current session.
      required: true
      schema:
        type: string
        example: "555254240100"
    JobRoleCode:
      in: header
      name: nhsd-session-jobrole
      description: |
        The users job role code for the current session.
      required: true
      schema:
        type: string
        example: "S0030:G0100:R0570"
    RequestID:
      in: header
      name: X-Request-ID
      required: true
      description: |
        A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.

        Must be a universally unique identifier (UUID) (ideally version 4).

        Mirrored back in a response header.

        Required in all environments except sandbox.
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA\
          -F]{12}$"
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        An optional ID which you can use to track transactions across multiple systems. It can have any value, but we recommend avoiding `.` characters.

        Mirrored back in a response header.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
x-nhsd-apim:
  temporary: false
  monitoring: true
  IDAssuranceLevel: 3
  access:
    - title: User Restricted
      grants:
        nhs-cis2-aal3: []
  target:
    type: external
    healthcheck: /_status
    url: https://cpt.dev.eps.national.nhs.uk
    security:
      type: mtls
      secret: clinical-tracker-mtls-1
  target-identity:
    - name: cis2-uuid
      header: "nhsd-identity-uuid"
    - name: cis2-urid
      header: "nhsd-session-urid"
  ratelimiting:
    proxy:
      limit: 20000
      timeunit: minute
    app-default:
      limit: 20000
      timeunit: minute
